<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <p><%= "・Activeなスタジオ数は#{@studios.by_status(1).count}です。先週から#{@studios.by_status(1).count - @studios.by_last_week_status(1).count}個増えました。" %><br>
      <%= "・停止中(Inactive)のスタジオ数は#{@studios.by_status(0).count}個です。" %><br>
      <%= "・審査(Reviewing)が必要なスタジオ数は#{@studios.by_status(2).count}個です。" %></p>
    </div>
    <% ReportMailer::STATUS_ORDER.each do |status| %>
      <table style="border-bottom: 1px solid; border-collapse: collapse; max-width: 100%; text-align: center; margin-bottom: 1.5rem;">
        <caption style="font-size: 1.5rem; font-weight: bold;"><%= Studio.statuses.key(status) %></caption>
          <tr style="border-bottom: 1px solid; border-collapse: collapse;">
            <th style="padding: 0 20px;">都道府県</th>
            <th style="padding: 0 20px;">エリア</th>
            <th style="padding: 0 20px;">Studio</th>
            <th style="padding: 0 20px;">Room</th>
          </tr>
          <tr style="border-bottom: 1px solid; border-collapse: collapse; font-weight: bold;">
            <td></td>
            <td></td>
            <td>
              <% if @studios.by_status(status).count == @studios.by_last_week_status(status).count %>
                <%= @studios.by_status(status).count %>
              <% else %>
                <%= @studios.by_status(status).count %><small><%= "(#{sprintf("%+d", @studios.by_status(status).count - @studios.by_last_week_status(status).count)})" %></small>
              <% end %>
            </td>
            <td>
              <% if @rooms.by_status(status).count == @rooms.by_last_week_status(status).count %>
                <%= @rooms.by_status(status).count %>
              <% else %>
                <%= @rooms.by_status(status).count %><small><%= "(#{sprintf("%+d", @rooms.by_status(status).count - @rooms.by_last_week_status(status).count)})" %></small>
              <% end %>
          </tr>
          <% @prefectures.each do |p| %>
            <tr style="border-top: 1px solid; border-collapse: collapse; font-weight: bold;">
              <td><%= p %></td>
              <td>合計</td>
              <td>
                <% if @area_studios.by_status(status).where(areas: {prefecture: p}).count == @area_studios.by_last_week_status(status).where(areas: {prefecture: p}).count %>
                  <%= @area_studios.by_status(status).where(areas: {prefecture: p}).count %>
                <% else %>
                  <%= @area_studios.by_status(status).where(areas: {prefecture: p}).count %><small><%= "(#{sprintf("%+d", @area_studios.by_status(status).where(areas: {prefecture: p}).count - @area_studios.by_last_week_status(status).where(areas: {prefecture: p}).count)})" %></small>
                <% end %>
              </td>
              <td>
                <% if @area_studio_rooms.by_status(status).where(areas: {prefecture: p}).count == @area_studio_rooms.by_last_week_status(status).where(areas: {prefecture: p}).count %>
                  <%= @area_studio_rooms.by_status(status).where(areas: {prefecture: p}).count %>
                <% else %>
                  <%= @area_studio_rooms.by_status(status).where(areas: {prefecture: p}).count %><small><%= "(#{sprintf("%+d", @area_studio_rooms.by_status(status).where(areas: {prefecture: p}).count - @area_studio_rooms.by_last_week_status(status).where(areas: {prefecture: p}).count)})" %></small>
                <% end %>
              </td>
            </tr>
            <% Area.where(prefecture: p).each do |a| %>
              <tr>
                <td></td>
                <td><%= a.city %></td>
                <td>
                  <% if @studios.by_status(status).where(area_id: a.id).count == @studios.by_last_week_status(status).where(area_id: a.id).count %>
                    <%= @studios.by_status(status).where(area_id: a.id).count %>
                  <% else %>
                    <%= @studios.by_status(status).where(area_id: a.id).count %><small><%= "(#{sprintf("%+d", @studios.by_status(status).where(area_id: a.id).count - @studios.by_last_week_status(status).where(area_id: a.id).count)})" %></small>
                  <% end %>
                </td>
                <td>
                  <% if @studio_rooms.by_status(status).where(studios: {area_id: a.id}).count == @studio_rooms.by_last_week_status(status).where(studios: {area_id: a.id}).count %>
                    <%= @studio_rooms.by_status(status).where(studios: {area_id: a.id}).count %>
                  <% else %>
                    <%= @studio_rooms.by_status(status).where(studios: {area_id: a.id}).count %><small><%= "(#{sprintf("%+d", @studio_rooms.by_status(status).where(studios: {area_id: a.id}).count - @studio_rooms.by_last_week_status(status).where(studios: {area_id: a.id}).count)})" %></small>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
      </table>
    <% end %>
    <p>※増減は前週比の数値です。</p>

    <p>今週もお疲れ様でした！</p>
  </body>
</html>
